section.about-me
    .container
        .column-container
            .about-me-wrapper
                .about-me__title
                    +title('"О нашей студии"')
                .about-me__content
                    .about-me__content-text
                        p <strong>Перманентный макияж —</strong> это внедрение специального красящего пигмента в верхние слои дермы, чтобы выделить, подчеркнуть или скорректировать некоторые черты лица. Наши мастера - настоящие профессионалы своего дела, постоянно участвуют в международных форумах и занимают призовые места. К каждому клиенту у нас индивидуальный подход. С помощью перманентного макияжа можно улучшить форму бровей, губ, век и многое другое.
                        p В первую очередь мы позаботились о безопасности и комфорте наших клиенток, сделав все возможное , что бы создать идеальные условия. Студия оснащена импортным оборудованием. В работе используются пигменты самого высокого качества. Их отличает особая устойчивость, гипоаллергенность и безвредность для здоровья. Местная анестезия применяется с учетом противопоказаний и индивидуальных особенностей.
                    .about-me__img
                        .about-me__img-content
                            img(src="./img/avatar/01.jpg", alt="")
                        .about-me__img-flowers
                            img(src="./img/avatar/02.png", alt="")
                .about-me__content
                    .about-me__content-text.width-100
                        p Все работы по созданию перманентного макияжа проводятся исключительно в стерильных условиях с применением одноразовых расходных материалов. Посетительницы студии получают все необходимые консультации о правильном уходе за лицом в период заживления после процедуры.
                        p Клиентки <span>Brow&nbsp;&&nbsp;Laws</span> всегда отмечают приятную атмосферу в студии и высокий профессионализм мастеров.
                        p 
                            b Наш адрес: г. Москва, новый Арбат, дом 23.
                        a(href='tel:79161501120' class='button') +7 (916) 150-11-20