section.action#scrollaction
    .container-big
        .action-title
            +title("Наши Акции")
        .action-wrap
            .action__item-row
                .action__item
                    .action__item-svg
                        <i class="fa fa-birthday-cake fa-5x" aria-hidden="true"></i>
                    .action__item-info
                        ul
                            li Специальная скидка ко дню рождения клиента - 20%;
                            li Скидка на перманент для женщин 8 марта - 15%.
                            li Скидка на новую продукцию для VIP клиентов, приглашение на бесплатное тестирование новой услуги.
                .action__item
                    .action__item-svg
                        <i class="fa fa-calendar-check-o fa-5x" aria-hidden="true"></i>
                    .action__item-info
                        ul
                            li Cкидка на одну услугу за лайк и репост определенного поста - 15%.
                            li На любую процедуру в будние дни с 12 до 14 часов - 10%.
                            li Скидка на новую продукцию для VIP клиентов.
                .action__item
                    .action__item-svg
                        <i class="fa fa-commenting-o fa-5x" aria-hidden="true"></i>
                    .action__item-info
                        ul
                            li Специальная скидка ко дню рождения клиента - 20%;
                            li Скидка на перманент для женщин 8 марта - 15%.
                            li Скидка на новую продукцию для VIP клиентов, приглашение на бесплатное тестирование новой услуги.
            .action-bg-img
                img(src="./img/stocks/05.png", alt="")