section.brow#scrollbrow
    .container
        .column-container
            .brow-wrapper
                .brow-title
                    +title("Перманет Бровей")
                .brow-wrap
                    .brow__text
                        p Перманентный макияж бровей – процедура, во время которой под кожу вводится пигмент с целью коррекции формы, густоты и цвета бровей. Это несмываемый мейкап, выполненный методом поверхностной татуировки, поэтому перманентный макияж ещё называют татуажем.
                        p Однако в отличие настоящей татуировки при татуаже пигмент закладывают лишь в самые верхние слои кожи. Благодаря этому процедура перманентного макияжа бровей менее болезненна. Но воздействие происходит на очень чувствительных зонах, поэтому дискомфортные всё же ощущается
                        p Со временем перманентный макияж бровей тускнеет, но происходит это очень медленно – обычно в течение нескольких лет. В этом заключается одновременно плюс и минус татуажа – с одной стороны, он заменяет каждодневное нанесение декоративной косметики, что изрядно экономит время. С другой – корректировать неудачный результат крайне сложно, долго и неприятно. Прежде чем решиться на процедуру перманентного макияжа бровей, стоит взвесить все за и против.
                    .brow__img
                        img(src="./img/bg/01.jpg", alt="brow")
