section.brow#scrollbrow
    .container
        .column-container
            .brow-wrapper
                .brow-title
                    +title("Перманет Бровей")
                .brow-wrap
                    .brow__text
                        p <strong>Перманентный макияж бровей –</strong> процедура, во время которой под кожу вводится пигмент с целью коррекции формы, густоты и цвета бровей.
                        p Однако в отличие от настоящей татуировки при перманентном макияже пигмент закладывают лишь в самые верхние слои кожи. Благодаря этому процедура перманентного макияжа бровей безболезненна.
                        p Перманентный макияж бровей как правильно держится от 1 года до 2-х лет. Обусловлено это глубиной ввода пигмента и консистенцией самого пигмента.
                        p Со временем он постепенно рассасывается, а спустя несколько лет полностью исчезает. Это дает возможность обладательнице перманентного макияжа выбрать другой вид услуги и поэкспериментировать.
                    .brow__carousel
                        .owl-carousel-brow.owl-carousel
                            .owl-carousel-item
                                img(src="./img/brow/01.jpg", alt="brow")
                            .owl-carousel-item
                                img(src="./img/brow/02.jpg", alt="brow")
                            .owl-carousel-item
                                img(src="./img/brow/03.jpg", alt="brow")
                            .owl-carousel-item
                                img(src="./img/brow/04.jpg", alt="brow")
