section.contact#scrollcontact
    .container-big
        .column-container
            .contact-wrapper
                .contact__title
                    +title('Контакты')
                .contact-wrap
                    .contact__map
                        .contact__map-mini
                            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A5ef146a75422c1aeac41ec128028377fbf1eebc81edb3a658ef58fbd2cd74ed6&amp;width=720&amp;height=480&amp;lang=ru_RU&amp;scroll=true"></script>
                        .contact__map-big
                            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A8857ec1604fed5df75daedf64a7182f576edc65534d943ef8b25f1fc4745e2e3&amp;width=920&amp;height=650&amp;lang=ru_RU&amp;scroll=true"></script>
                    .contact__form
                        .contact__form-border
                            .contact__form-title Наши контакты:
                            p Телефон: +7 (916) 150-11-20
                            a(href="https://www.instagram.com/liziliska/?igshid=g3wnz9xmulf7" target='_blank') Наш Инстаграм 
                            p Адресс: г. Москва, новый Арбат, дом 23.
                            <div class="anim-ramka-contact" data-form><span>Записаться онлайн</span></div>