footer.footer
    .footer-social
        button(class='button') Наверх
        .social
            a(href="https://vk.com/id66982596" target='_blank').nav-social-item
                i(class="fa fa-vk fa-2x" aria-hidden="true")
            a(href="#" type='').nav-social-item 
                i(class="fa fa-whatsapp fa-2x" aria-hidden="true")
            a(href="https://www.instagram.com/liziliska/?igshid=g3wnz9xmulf7" target='_blank').nav-social-item
                i(class="fa fa-instagram fa-2x" aria-hidden="true")
    .footer-copyright © LiziLizka Lab 2018 - 2020 <br> Все права защищены
    .nav-form
        button(type='submit' class='button') Обратная связь
