section.form.display-none#form
    form(action="#" class='form-wrapper')
        .form-border
            .form-title
                h2 Напишите нам:
            .form-wrap
                input(type="name" placeholder="Имя и Фамилия" id="form-name")
                input(type="email" placeholder="Email" id="form-email")
                input(type="tel" placeholder="Номер телефона" id="form-tel")
                textarea(name="form-message", cols="30", rows="5" placeholder="Оставьте свой коментарий" id="form-message")
                .form-submit
                    input(type="submit" class="input-submit" form="form" id="form-submit")
                    input(type="reset")
            .form-exit#formExit
                <i class="fa fa-times fa-3x" aria-hidden="true" data-exit></i>
