section.form.display-none#form
    form(action="#" class='form-wrapper')
        .form-border
            .form-title
                h2 Напишите нам:
            .form-wrap
                input(type="name" placeholder="Имя и Фамилия" form="form")
                input(type="email" placeholder="Email" form="form")
                input(type="tel" placeholder="Номер телефона" form="form")
                textarea#textarea(name="", cols="30", rows="5" placeholder="Оставьте свой коментарий" form="form")
                .form-submit
                    input(type="submit" class="input-submit" form="form" data-exit)
                    input(type="reset" form="form")
            .form-exit#formExit
                <i class="fa fa-times fa-3x" aria-hidden="true" data-exit></i>