section.labor#scrolllabor
    .container-big
        .column-container
            .labor-wrapper
                +title("Наши работы")
                p.labor-subtitle Мастера нашей студии помогут подчеркнуть Вашу природную красоту
                .labour-card
                    .card
                        .card-img
                            img(src="./img/labor/lips/01.jpg", alt="")
                        .card-info
                            .card-meta Губы
                            //- .card-minus —
                            .card-price 4000Р - 8000Р
                    .card
                        .card-img
                            img(src="./img/labor/eyes/01.jpg", alt="")
                        .card-info
                            .card-meta Стрелки
                            //- .card-minus —
                            .card-price 4000Р - 8000Р
                    .card
                        .card-img
                            img(src="./img/labor/brows/03.jpg", alt="")
                        .card-info
                            .card-meta Брови
                            //- .card-minus —
                            .card-price 4000Р - 8000Р
                    .card
                        .card-img
                            img(src="./img/labor/lips/04.jpg", alt="")
                        .card-info
                            .card-meta Губы
                            //- .card-minus —
                            .card-price 4000Р - 8000Р
                    .card
                        .card-img
                            img(src="./img/labor/eyes/03.jpg", alt="")
                        .card-info
                            .card-meta Межресничка
                            //- .card-minus —
                            .card-price 4000Р - 8000Р
                    .card
                        .card-img
                            img(src="./img/labor/brows/04.jpg", alt="")
                        .card-info
                            .card-meta Брови
                            //- .card-minus —
                            .card-price 4000Р - 8000Р
                .labour-text
                    p Коррекция нашей работы -50% от изначальной стоимости перманентного макияжа, если она сделана в срок от 1-го до 2-ух месяцев со дня первичной процедуры.