section.labor#scrolllabor
    .container-big
        .column-container
            .labor-wrapper
                +title("Наши работы")
                p.labor-subtitle Мастера нашей студии помогут подчеркнуть Вашу природную красоту
                .labour-card
                    .card
                        .card-img
                            img(src="./img/labor/lips/01.jpg", alt="")
                        .card-info
                            .card-meta Губы
                            .card-minus —
                            .card-price 3000Р
                    .card
                        .card-img
                            img(src="./img/labor/eyes/01.jpg", alt="")
                        .card-info
                            .card-meta Межресничка
                            .card-minus —
                            .card-price 3000Р
                    .card
                        .card-img
                            img(src="./img/labor/brows/01.jpg", alt="")
                        .card-info
                            .card-meta Брови
                            .card-minus —
                            .card-price 3000Р
                    .card
                        .card-img
                            img(src="./img/labor/lips/02.jpg", alt="")
                        .card-info
                            .card-meta Губы
                            .card-minus —
                            .card-price 3000Р
                    .card
                        .card-img
                            img(src="./img/labor/eyes/02.jpg", alt="")
                        .card-info
                            .card-meta Межресничка
                            .card-minus —
                            .card-price 3000Р
                    .card
                        .card-img
                            img(src="./img/labor/brows/02.jpg", alt="")
                        .card-info
                            .card-meta Брови
                            .card-minus —
                            .card-price 3000Р