section.lips#scrolllips
    .container
        .column-container
            .lips-wrapper
                .lips-title
                    +title("Перманент Губ")
                .lips-wrap
                    .lips__text
                        p <span>Перманентный макияж губ –</span> это особая техника пигментации верхнего слоя кожи. Её проводят при помощи микропроколов, в которые вносится специальные красящие соединения. Пигменты готовятся на основе растительных и минеральных компонентов, так что попадание «химии» в кровь минимально.
                        p В какой-то степени техника напоминает известную всем татуировку. Только при нанесении рисунка на кожу затрагиваются её глубокие слои, а проколы для перманентного макияжа делаются на глубину 0,3 – 0,8 мм.
                        ul 
                            li Результат такого татуажа:
                            li Неровный контур становится четким;
                            li Тон кожи из бледного превращается в яркий (естественный или с эффектом губной помады);
                            li Вместо малого объёма появляется эффект припухлости;
                            li Тонкие губы визуально увеличиваются.
                    .lips__carousel
                        .owl-carousel-lips.owl-carousel
                            .owl-carousel-item
                                img(src="./img/lips/01.jpg", alt="lips")
                            .owl-carousel-item
                                img(src="./img/lips/02.jpg", alt="lips")
                            .owl-carousel-item
                                img(src="./img/lips/03.jpg", alt="lips")
                            .owl-carousel-item
                                img(src="./img/lips/04.jpg", alt="lips")
                            .owl-carousel-item
                                img(src="./img/lips/05.jpg", alt="lips")


 









