section.lips#scrolllips
    .container
        .column-container
            .lips-wrapper
                .lips-title
                    +title("Перманент Губ")
                .lips-wrap
                    .lips__text
                        p <span>Перманентный макияж губ –</span> это особая техника пигментации верхнего слоя кожи. Её проводят при помощи микропроколов, в которые вносится специальные красящие соединения. 
                        p В какой-то степени техника напоминает известную всем татуировку. Только при татуировке пигмент вводится в глубокие слои кожи, а проколы для перманентного макияжа делаются на глубину 0,3.
                        ul 
                            li Результат такого перманентного макияжа:
                            li Неровный контур становится четким;
                            li Тон кожи из бледного превращается в яркий (естественный или с эффектом губной помады);
                            li Вместо малого объёма появляется эффект припухлости;
                            li Тонкие губы визуально увеличиваются.
                    .lips__carousel
                        .owl-carousel-lips.owl-carousel
                            .owl-carousel-item
                                img(src="./img/lips/03.jpg", alt="lips")
                            .owl-carousel-item
                                img(src="./img/lips/01.jpg", alt="lips")
                            .owl-carousel-item
                                img(src="./img/lips/02.jpg", alt="lips")
                            .owl-carousel-item
                                img(src="./img/lips/05.jpg", alt="lips")


 









