section.milesnick#scrollmilesnick
    .container-big
        .column-container
            .milesnick-wrapper
                .milesnick-title
                    +title("Перманент Межреснички и Стрелки")
                .milesnick-wrap
                    .milesnick__carousel
                        .owl-carousel-milesnick.owl-carousel
                            .owl-carousel-item
                                img(src="./img/milesnick/01.jpg", alt="milesnick")
                            .owl-carousel-item
                                img(src="./img/milesnick/02.jpg", alt="milesnick")
                            .owl-carousel-item
                                img(src="./img/milesnick/03.jpg", alt="milesnick")
                    .milesnick__text
                        p <span>Перманентный макияж межресничного пространства и стрелки –</span> это введение красящего вещества в эпидермис по контору глаз. Перманентный макияж делает взгляд насыщеннее и пронзительнее, также с помощью него можно подкорректировать форму глаз. Наличие перманентного макияжа на лице позволяет представительницам женского пола существенно уменьшить время, которое тратится на повседневный макияж, и достигнуть эффекта густых и объемных ресниц. Полученный результат сохраняется от 2 до 5 лет – это зависит от типа кожи, возраста, глубины внедрения красящегося вещества.
                        ul 
                            li Преимущества перманентного макияжа
                            li Не смываются. После водных процедур (ванны, бани, бассейна) стрелки остаются на своих местах: ровными и отчетливыми.
                            li Легкая коррекция. По желанию форму линий стрелок клиент может изменить самостоятельно косметикой (подводкой или карандашом), которую легко стереть, а сама основа останется неизменной.
                            li Экономия времени. При наличии перманентного макияжа достаточно накрасить или расчесать ресницы (при наращивании) и макияж готов.
                            li Яркость и выразительность. После заживления перманентного макияжа, ресницы визуально становятся более густыми и имеют здоровый вид, которые делают взгляд более глубоким и выразительным.
                            li Изменение недостатков. С помощью перманентного макияжа можно исправить асимметрию и разрез глаз.