section.milesnick#scrollmilesnick
    .container-big
        .column-container
            .milesnick-wrapper
                .milesnick-title
                    +title("Перманент Межреснички")
                .milesnick-wrap
                    .milesnick__carousel
                        .owl-carousel-brow.owl-carousel
                            .owl-carousel-item-brow
                                img(src="./img/milesnick/01.jpg", alt="brow")
                            .owl-carousel-item-brow
                                img(src="./img/milesnick/02.jpg", alt="brow")
                            .owl-carousel-item-brow
                                img(src="./img/milesnick/03.jpg", alt="brow")
                    .milesnick__text
                        p <span>Перманентный макияж межресничного пространства –</span> это введение красящего вещества в эпидермис по контору глаз. Татуаж делает взгляд насыщеннее и пронзительнее, также с помощью него можно подкорректировать форму глаз. Наличие перманентного макияжа на лице позволяет представительницам женского пола существенно уменьшить время, которое тратится на повседневный макияж, и достигнуть эффекта густых и объемных ресниц. Полученный результат сохраняется долго (от 2 до 5 лет) – это зависит от типа кожи, возраста, глубины внедрения красящегося вещества.
                        ul 
                            li Преимущества перманентного макияжа
                            li Не требует умывания. После водных процедур (ванны, бани, бассейна) стрелки остаются на своих местах: ровными и отчетливыми.
                            li Легкая коррекция. По желанию форму линий стрелок клиент может изменить самостоятельно косметикой (подводкой или карандашом), которую легко стереть, а сама основа останется низменной.
                            li Экономия времени. При наличии перманентного макияжа достаточно накрасить или расчесать ресницы (при наращивании) и макияж готов.
                            li Яркость и выразительность. После заживления перманентного татуажа ресницы визуально становятся более густыми и имеют здоровый вид, которые делают взгляд более глубоким и выразительным.
                            li Изменение недостатков. С помощью перманентного татуажа можно исправить асимметрию и разрез глаз.