section.stocks#scrollstocks
    .container
        .column-container
            .stocks-wrapper
                .stocks-title
                    +title("Акции")
                .stocks-wrap
                    .stocks__text-item
                        .stocks__text-title Ситуативные акции:
                        .stocks__text-subtitle
                            ul
                                li специальная скидка ко дню рождения клиента
                                li скидки на укладку для женщин 8 марта.
                                li скидка на новую продукцию для VIP клиентов, приглашение на бесплатное тестирование новой услуги. 
                                li Например, скидка на маникюр 30% за лайк и репост определенного поста.
                                li скидка на окрашивание 30%, которая действует только в течение 7 дней. 
                    .stocks__text-item
                        .stocks__text-title Постоянные акции:
                        .stocks__text-subtitle
                            ul
                                li Будьте самой красивой 8 марта! Укладка и макияж в нашем салоне со скидкой 20%
                                li 20% на любую процедуру в будние дни с 12 до 14 часов.
                                li скидка на новую продукцию для VIP клиентов, приглашение на бесплатное тестирование новой услуги. 
                                li Например, скидка на маникюр 30% за лайк и репост определенного поста.


