* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 16px;
  font-weight: 400;
  padding: 0;
  margin: 0;
  min-height: 100%;
  position: relative;
  color: #000;
  line-height: 1;
}

body.lock {
  overflow: hidden;
}

/* fix for top margin collapsing and vertical scroll prevent for body tag, when body height = 100% */
body::before {
  content: "";
  display: block;
  width: 1px;
  height: 0px;
  background-color: transparent;
}

input,
textarea {
  font-family: $baseFont;
  font-size: 16px;
  line-height: 1.5;
  resize: vertical;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  user-select: none;
}

p,
span,
div {
  user-select: none;
}

img {
  display: block;
  max-width: 100%;
}

a {
  user-select: none;
  color: $linkColor;
}

.relative {
  position: relative;
}

.button {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.7);
  border: 2px solid rgb(255, 255, 255);
  transition: 0.5s linear;
  padding: 10px 20px;
  cursor: pointer;
  user-select: none;
  animation: border-button 4s linear 0s infinite alternate;

  &:hover {
    background-color: rgba(0, 0, 0, 0.3);
    color: #c13584;
    animation-play-state: paused;
  }
}

.container {
  max-width: 1520px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 1250px) {
    max-width: 1140px;
  }
}

.container-big {
  max-width: 1520px;
  margin-left: auto;
  margin-right: auto;
}

.column-container {
  border-left: 10px solid #fff;
  border-right: 10px solid #fff;
  overflow: hidden;
}

.width-100 {
  width: 100%;
  max-width: 100% !important;
}

.display-none {
  display: none;
}
