.about-me {
  position: relative;
  margin-bottom: 10px;
  background-color: #e8dff0;
  //   background-image: url('../img/1.png');
}

.about-me-wrapper {
  background-color: #e8dff0;
  padding: 50px 30px;
}

.about-me__title {
  margin-bottom: 50px;
}

.about-me__content {
  display: flex;
  flex-direction: column-reverse;

  @media (min-width: 1250px) {
    justify-content: space-between;
    flex-direction: row;
  }
}

.about-me__content-text {
  max-width: 100%;

  @media (min-width: 1250px) {
    max-width: 500px;
  }
}

.about-me__content-text p {
  font-size: 33px;
  line-height: 1.2;
  font-weight: 400;
  color: #000000;

  @media (min-width: 1250px) {
    font-size: 18px;
  }
}

.about-me__content-text span {
  font-size: 33px;
  font-family: "Playfair Display", serif;
  line-height: 1.2;
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
  color: #000000;

  @media (min-width: 1250px) {
    font-size: 18px;
  }
}

.about-me__img {
  position: relative;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 1250px) {
    margin-left: 0;
    margin-right: 0;
  }
}
.about-me__img-content {
  height: 550px;
  width: 550px;
  background-position: top;
  box-shadow: inset 6px 6px 8px 0 rgba(0, 0, 0, 0.4);
  z-index: 5;
  background-image: url("../img/avatar/01.jpg");
  position: relative;
  z-index: 2;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 30px;

  @media (min-width: 1250px) {
    height: 400px;
    width: 400px;
    margin-bottom: 0;
  }

  img {
    padding: 10px;
    width: 100%;
    height: 100%;
    border-radius: 15px;
  }
}

.about-me__content .button {
  display: inline-block;
  font-size: 40px;
  @media (min-width: 1250px) {
    font-size: 18px;
  }
}

.about-me__img-content::before {
  content: "";
  position: absolute;
  z-index: -2;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  background-color: #bfe2ff;
  background-repeat: no-repeat;
  background-size: 50% 50%, 50% 50%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  background-image: linear-gradient(#000000b3, #000000b3),
    linear-gradient(#c13584, #c13584), linear-gradient(#000000b3, #000000b3),
    linear-gradient(#c13584, #c13584);
  animation: anim-ramka-avatar 6s linear infinite;
}
.about-me__img-content::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 6px;
  top: 6px;
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  background: white;
  border-radius: 5px;
}

.about-me__img-flowers img {
  position: absolute;
  content: "";
  top: 165px;
  right: 185px;
  width: 600px;
  height: 450px;
  z-index: 1;

  @media (min-width: 1250px) {
    top: 0px;
    right: 110px;
  }
}

.about-me__content-text-wrap {
  display: inline-block;
}
