.action {
  position: relative;
  margin-bottom: 10px;
  background: linear-gradient(to left, #00000075, #0000003d),
    url("../img/stocks/02.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 1500px;
  width: 100%;
  padding: 120px 0;
  z-index: 2;

  @media (min-width: 1250px) {
    height: 1080px;
  }
}

.action-title {
  margin-bottom: 100px;
  z-index: 3;
}

.action-wrap {
  display: flex;
  flex-direction: column;

  @media (min-width: 1545px) {
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }
}

.action__item-row {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.action__item {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  background-color: #000000b3;
  margin-bottom: 50px;
  padding: 20px 10px 20px 25px;

  @media (min-width: 1250px) {
    max-width: 900px;
    padding: 10px 10px 10px 25px;
  }
}

.action__item-svg {
  margin-right: 150px;
  position: relative;
  color: #c13584;

  &::after {
    position: absolute;
    content: "";
    top: 50%;
    right: -140px;
    height: 4px;
    width: 100px;
    background-color: #c13584;
    border-radius: 3px;
  }
}

.action__item-info {
  max-width: 900px;

  @media (min-width: 1250px) {
    max-width: 600px;
  }
}

.action__item-info ul,
.action__item-info li {
  line-height: 1.1;
  list-style-type: none;
  font-size: 32px;
  font-weight: 400;
  color: #c13584;
  margin-bottom: 15px;
  letter-spacing: 1.2px;

  @media (min-width: 1250px) {
    line-height: 1.2;
    font-size: 18px;
  }
}

.action-bg-img {
  display: none;

  @media (min-width: 1545px) {
    display: block;
    margin-top: 135px;
  }
}
