@keyframes arrows {
  0% {
    transform: translate(-50%, 0);
  }

  100% {
    transform: translate(-50%, -20px);
  }
}

@keyframes border-button {
  0% {
    border-color: #fff;
    color: #c13584;
    // box-shadow: 10px 10px 20px #fff;
  }

  50% {
    border-color: #cc7fab;
    box-shadow: 0px 0px 0px #cc7fab;
  }

  100% {
    border-color: #c13584;
    box-shadow: -10px -10px 20px #c13584;
  }
}

@keyframes shadow-card-odd {
  0% {
    box-shadow: -10px 0px 20px #c13584;
  }

  50% {
    box-shadow: 0px 0px 20px #cc7fab;
  }

  100% {
    box-shadow: 10px 10px 20px #c13584;
  }
}

@keyframes shadow-card-even {
  0% {
    box-shadow: 10px 10px 20px #c13584;
  }

  50% {
    box-shadow: 0px 0px 20px #cc7fab;
  }

  100% {
    box-shadow: -10px -10px 20px #c13584;
  }
}

@keyframes anim-ramka-avatar {
  100% {
    transform: rotate(1turn);
  }
}

@keyframes anim-ramka-contact {
  0%, 100% {
      clip-path: polygon(0 0, calc(100% - (33px)) calc(0% + (33px)), 100% 100%, calc(0% + (33px)) calc(100% - (33px)));
  }
  50% {
      clip-path: polygon(calc(0% + (33px)) calc(0% + (33px)), 100% 0, calc(100% - (33px)) calc(100% - (33px)), 0 100%);
  }
}

@keyframes white-black {
  0% {
      color: #fff
  }
  100% {
      color: #000
  }
}