.brow {
  position: relative;
  margin-bottom: 10px;
  background-color: #e8dff0;
}

.brow-wrapper {
  background-color: #e8dff0;
  padding: 50px 40px;
}

.brow-title {
  margin-bottom: 50px;
}

.brow-wrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brow-wrap::after {
  position: absolute;
  content: "";
  top: -15px;
  left: 380px;
  background-image: url("../img/brow/01.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
}

.brow__text {
  max-width: 40%;
  margin-right: 50px;

  P {
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    line-height: 1.2;
    font-weight: 400;
    color: #000000;
  }
}

.brow__carousel {
  max-width: 50%;
  height: 100%;
  position: relative;
}

.owl-carousel-item-brow {
  width: 100%;
  padding: 10px;
  background-color: #fff;
  margin-bottom: 10px;

  img {
    height: 355px;
  }
}

.owl-carousel-brow.owl-carousel .owl-nav, .owl-carousel-lips.owl-carousel .owl-nav {
  display: flex;
  justify-content: center;
}

.owl-carousel-brow.owl-carousel .owl-nav button.owl-prev,
.owl-carousel-brow.owl-carousel .owl-nav button.owl-next,
.owl-carousel-lips.owl-carousel .owl-nav button.owl-prev,
.owl-carousel-lips.owl-carousel .owl-nav button.owl-next {
  width: 130px;
  height: 50px;
  border: 2px solid black;
  background-color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.2;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  color: #000;
  margin-right: 10px;
  transition: 0.3s linear;

  &:hover {
    background-color: #000000b3;
    color: #c13584;
  }
}


