.brow {
  position: relative;
  margin-bottom: 10px;
  background: linear-gradient(rgba(232, 223, 240, .6) rgba(232, 223, 240, .6)), url('../img/bg/02.jpg') top left /cover no-repeat;
  background-blend-mode: color;
  background-attachment: fixed;
}

.brow-wrapper {
  background-color: #e8dff0;
  padding: 50px 40px;
}

.brow-title {
  margin-bottom: 50px;
}

.brow-wrap {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 1250px) {
    justify-content: space-between;
    flex-direction: row;
  }
}

.brow-wrap::after {
  position: absolute;
  display: none;
  content: "";
  top: -50px;
  left: 380px;
  background-image: url("../img/brow/01.png");
  background-repeat: no-repeat;
  width: 600px;
  height: 500px;

  @media (min-width: 1250px) {
    display: block;
  }
}

.brow__text {
  margin-top: 50px;

  P {
    font-size: 33px;
    line-height: 1.2;
    font-weight: 400;
    color: #000000;

    @media (min-width: 1250px) {
      font-size: 18px;
    }
  }

  @media (min-width: 1250px) {
    margin-right: 50px;
    max-width: 40%;
    margin-top: 0;
  }
}


