.form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0000007e;
  z-index: 10;
}

.form-wrapper {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-border {
  max-width: 440px;
  background-color: #000000ab;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.form-title {
  margin-bottom: 30px;
  font-size: 26px;
  font-weight: 600;
  color: #c13584;
  line-height: 1.4;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  text-align: center;

  @media (min-width: 480px) {
    font-size: 35px;
  }
}

.form-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-wrap input {
  display: inline-block;
  width: 280px;
  margin-bottom: 20px;
  font-weight: 600;
  color: #fff;
  font-size: 18px;
  border: none;
  background-color: #c13584;
  padding: 10px 15px;
  border-radius: 10px;
  outline: none;
  border: 1px solid transparent;
  transition: 0.4s linear;

  &:hover {
    background-color: #cf5d9e;
  }

  @media (min-width: 480px) {
    width: 400px;
    font-size: 27px;
  }

  @media (min-width: 1250px) {
    font-size: 23px;
  }
}

.form-wrap input::placeholder {
  font-size: 18px;
  font-weight: 600;
  color: #fff;

  @media (min-width: 480px) {
    font-size: 27px;
  }

  @media (min-width: 1250px) {
    font-size: 23px;
  }
}

.form-wrap input:focus::placeholder {
  color: #fff;
}

.form-wrap textarea {
  width: 280px;
  display: inline-block;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  border: none;
  background-color: #c13584;
  border-radius: 10px;
  padding: 10px;
  outline: none;
  border: 1px solid transparent;
  transition: 0.4s linear;

  &:hover {
    background-color: #cf5d9e;
    border: 1px solid rgb(0, 0, 0);
  }

  @media (min-width: 480px) {
    width: 400px;
    font-size: 27px;
  }

  @media (min-width: 1250px) {
    font-size: 23px;
  }
}

.form-wrap textarea::placeholder {
  font-size: 18px;
  font-weight: 600;
  color: #fff;

  @media (min-width: 480px) {
    font-size: 27px;
  }

  @media (min-width: 1250px) {
    font-size: 23px;
  }
}

.form-submit {
  display: flex;
  justify-content: space-between;
  width: 100%;

  input {
    width: auto;
    cursor: pointer;
  }

  input + input {
    margin-left: 40px;
  }
}

.form-exit {
  position: absolute;
  top: 15px;
  right: 20px;
  cursor: pointer;
  transition: 0.4s linear;

  i:hover {
    color: #c13584;
  }
}

.form-success {
  position: fixed;
  top: -15%;
  left: 30px;
  right: 30px;
  background-color: #000000b3;
  color: #c13584;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  z-index: 10;
  padding: 20px;
  transition: 1.5s linear;
  transform: translateY(-150%);

  @media (min-width: 5600px) {
    font-size: 28px;
    left: 80px;
    right: 80px;
  }

  @media (min-width: 1250px) {
    font-size: 18px;
  }
}

.form-success--active {
  top: 15%;
  transform: translateY(0);
}
