.header {
  position: relative;
  margin-bottom: 10px;
}

.header .owl-carousel .owl-carousel-item img {
  height: 1650px;
  width: 100%;
  object-fit: cover;

  @media (min-width: 1250px) {
    height: 1000px;
  }
  @media (min-width: 1440px) {
    height: 1100px;
  }
}

.nav {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 30px;
  background-color: #000000b3;
  z-index: 5;

  @media (min-width: 1250px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    position: fixed;
  }
}

.nav-logo {
  margin: 50px 0 50px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 420px) {
    margin: 100px 0;
  }

  @media (min-width: 1024px) {
    margin-top: 0;
    margin-bottom: 0;
  }

  @media (min-width: 1250px) {
    margin-left: 0;
    max-width: 200px;
    margin-right: 0;
  }
}

.nav-logo a {
  color: #ffffff;
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-size: 38px;
  font-weight: 600;
  line-height: 1.1;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.5s ease-in;

  &:hover {
    color: #c13584;
  }

  @media (min-width: 420px) {
    font-size: 50px;
  }

  @media (min-width: 560px) {
    font-size: 72px;
  }

  @media (min-width: 720px) {
    font-size: 95px;
  }

  @media (min-width: 1250px) {
    font-size: 32px;
  }
}

.nav-link {
  display: none;

  @media (min-width: 1024px) {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: 1250px) {
    margin-left: 0;
    margin-right: 0;
  }
}

.nav-link-item {
  padding: 45px 0;
  display: inline-block;
  position: relative;
  font-size: 38px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 40px;
  transition: 0.5s ease-in;

  &:before {
    position: absolute;
    content: "";
    bottom: 0;
    background-color: transparent;
    height: 3px;
    width: 100%;
    transition: 0.5s ease-in;
  }

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    color: #c13584;

    &:before {
      background-color: #c13584;
    }
  }

  @media (min-width: 1250px) {
    font-size: 18px;
  }
}

.nav-link-item i {
  position: absolute;
  bottom: 0px;
  left: calc(50% - (35px / 2));
  margin: auto;

  @media (min-width: 1250px) {
    bottom: 20px;
    left: calc(50% - (18px / 2));
  }
}

.dropdown:hover .nav-dropdown {
  display: grid;
}

.dropdown:hover .nav-link-item::before {
  background-color: transparent;
}

.nav-dropdown {
  position: absolute;
  display: none;
  bottom: -170px;
  left: calc(50% - (276px / 2));

  @media (min-width: 1250px) {
    bottom: -146px;
  }
}

.nav-dropdown a {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.5s ease-in;
  padding: 15px;
  background-color: #000000b3;
  border-bottom: 2px dashed #c13584;

  &:first-child {
    border-top: 2px dashed #c13584;
  }

  &:last-child {
    border-bottom: 2px solid transparent;
  }

  &:hover {
    color: #c13584;
    background-color: #000000d3;
  }

  i {
    margin-left: 25px;
    transform: rotate(270deg);
  }

  @media (min-width: 1250px) {
    font-size: 16px;
  }
}

.nav-social {
  display: none;

  @media (min-width: 1024px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .social {
    margin-right: 100px;

    @media (min-width: 1250px) {
      margin-right: 30px;
    }
  }
}

.social a {
  display: inline-block;
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }
}

.fa-vk {
  transition: 0.5s linear;
  color: white;
  &:hover {
    color: #597da3;
  }
}

.fa-whatsapp {
  transition: 0.5s linear;
  color: white;
  &:hover {
    color: #25d366;
  }
}

.fa-instagram {
  transition: 0.5s linear;
  color: white;
  &:hover {
    color: #c13584;
  }
}

.header-mobile-bg {
  height: 1150px;
  width: 100%;
  display: block;
  background: url("../img/header/main-01.jpg") center center no-repeat;

  @media (min-width: 420px) {
    height: 1300px;
  }

  @media (min-width: 560px) {
    height: 1500px;
  }

  @media (min-width: 720px) {
    height: 1650px;
  }

  @media (min-width: 1250px) {
    display: none;
  }
}

.header-bg {
  display: none !important;

  @media (min-width: 1250px) {
    display: block !important;
  }
}

.header-title {
  position: absolute;
  z-index: 3;
  top: 20%;
  left: 50%;
  padding: 0 15px;
  transform: translateX(-50%);
  max-width: 1050px;
  width: 100%;
  text-align: center;

  @media (min-width: 420px) {
    top: 30%;
  }

  @media (min-width: 720px) {
    top: 35%;
  }

  @media (min-width: 1250px) {
    max-width: 980px;
  }

  @media (min-width: 1440px) {
    top: calc(30% - (120px / 2));
  }
}

.header-title h2 {
  margin-bottom: 60px;
  font-size: 32px;
  font-weight: 600;
  color: #c13584;
  line-height: 1.4;
  text-shadow: 2px 2px 3px #000;

  span {
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-size: 38px;
    text-transform: uppercase;

    @media (min-width: 420px) {
      font-size: 48px;
    }

    @media (min-width: 560px) {
      font-size: 58px;
    }

    @media (min-width: 720px) {
      font-size: 75px;
    }

    @media (min-width: 1250px) {
      font-size: 46px;
    }
  }

  @media (min-width: 420px) {
    font-size: 42px;
  }

  @media (min-width: 560px) {
    font-size: 52px;
  }

  @media (min-width: 720px) {
    font-size: 70px;
  }

  @media (min-width: 1250px) {
    font-size: 42px;
    margin-bottom: 100px;
  }
}

.table {
  width: 100%;
  padding: 20px 10px;
  border: 1px solid #c13584;
  background-color: rgba(0, 0, 0, 0.7);

  p:last-child {
    display: none;
  }

  @media (min-width: 920px) {
    p:last-child {
      display: block;
    }
  }
}

.table p {
  font-size: 28px;
  line-height: 1.2;
  font-weight: 500;
  color: #c13584;

  @media (min-width: 560px) {
    font-size: 32px;
  }

  @media (min-width: 720px) {
    font-size: 39px;
  }

  @media (min-width: 1250px) {
    font-size: 26px;
  }
}

.header-dots {
  position: absolute;
  left: 50%;
  bottom: 10px;
  z-index: 3;
  animation: arrows 2s linear 0s infinite alternate;

  a {
    color: rgb(0, 0, 0);
  }

  @media (min-width: 420px) {
    a {
      color: #fff;
    }
  }

  @media (min-width: 1140px) {
    a {
      color: rgb(0, 0, 0);
    }
  }

  @media (min-width: 1440px) {
    bottom: 0px;
  }

  @media (min-width: 2170px) {
    a {
      color: #fff;
    }
  }
}

.nav-form .button {
  font-size: 40px;
  @media (min-width: 1250px) {
    font-size: 18px;
  }
}

.social .fa-2x {
  font-size: 4em;

  @media (min-width: 1250px) {
    font-size: 2em;
  }
}

.header .fa-4x {
  font-size: 6em;

  @media (min-width: 1250px) {
    font-size: 4em;
  }
}

.nav__burger {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 30px;

  @media (min-width: 420px) {
    width: 80px;
    height: 60px;
  }

  @media (min-width: 1024px) {
    display: none;
  }

  &::before {
    position: inherit;
    content: "";
    top: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: 5px;
  }

  &::after {
    position: inherit;
    content: "";
    bottom: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: 5px;
  }

  span {
    display: block;
    width: 100%;
    height: 100%;
  }

  span::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: #fff;
    width: 100%;
    height: 5px;
  }
}
