.labor {
  position: relative;
  margin-bottom: 10px;
  background-color: #e8dff0;
}

.labor-wrapper {
  background-color: #e8dff0;
  padding: 50px 40px;
}

.labor-subtitle {
  text-align: center;
  font-size: 38px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #c13584;

  @media (min-width: 1250px) {
    font-size: 28px;
  }
}

.labour-card {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  @media (min-width: 1520px) {
    justify-content: center;
  }
}

.card {
  position: relative;
  display: inline-block;
  padding: 10px 10px 15px;
  background-color: #fff;
  width: 500px;
  margin-right: 50px;
  margin-bottom: 50px;
  z-index: 3;
  cursor: pointer;
  transition: 0.4s linear;

  &:nth-child(2n + 2) {
    margin-right: 0;
  }

  @media (min-width: 1520px) {
    &:nth-child(3n + 3) {
      margin-right: 0 !important;
    }
    &:nth-child(2n + 2) {
      margin-right: 50px;
    }
  }

  @media (min-width: 1250px) {
    width: 440px;
  }

  &:nth-child(odd) {
    animation: shadow-card-odd 5s linear 0s infinite alternate;
  }

  &:nth-child(even) {
    animation: shadow-card-even 5s linear 0s infinite alternate;
  }

  &:hover {
    transform: scale(1.15);
  }
}

.card-img img {
  height: 460px;
  width: 100%;
  overflow: hidden;
  transition: 0.4s linear;

  @media (min-width: 1250px) {
    height: 400px;
  }
}

.card-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 15px 0 15px;
}

.card-meta {
  font-size: 32px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #c13584;

  @media (min-width: 1250px) {
    font-size: 24px;
  }
}

.card-price {
  font-size: 32px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #000000;

  @media (min-width: 1250px) {
    font-size: 24px;
  }
}
