.lips {
  position: relative;
  margin-bottom: 10px;
  background: linear-gradient(rgba(255, 255, 255, 0.1) rgba(255, 255, 255, 0.1)),
    url("../img/bg/03.png") center center / contain no-repeat;
  background-blend-mode: color;
  background-attachment: fixed;

  @media (min-width: 720px) {
    background: linear-gradient(
        rgba(232, 223, 240, 0.6) rgba(232, 223, 240, 0.6)
      ),
      url("../img/bg/02.jpg") top left / cover no-repeat;
    background-attachment: fixed;
  }
}

.lips-wrapper {
  background-color: rgba(232, 223, 240, .8);
  padding: 50px 20px;

  @media (min-width: 800px) {
    padding: 50px 40px;
  }
}

.lips-title {
  margin-bottom: 50px;
}

.lips-wrap {
    display: block;
}

.lips__text p,
li {
  font-size: 20px;
  line-height: 1.2;
  color: #000000;

  @media (min-width: 420px) {
    font-size: 24px;
  }

  @media (min-width: 560px) {
    font-size: 28px;
  }

  @media (min-width: 800px) {
    font-size: 32px;
  }

  @media (min-width: 1250px) {
    font-size: 18px;
  }
}

.lips__text span {
  font-size: 22px;
  line-height: 1.2;
  font-weight: 700;
  color: #000000;

  @media (min-width: 420px) {
    font-size: 26px;
  }

  @media (min-width: 560px) {
    font-size: 28px;
  }

  @media (min-width: 720px) {
    font-size: 32px;
  }

  @media (min-width: 1250px) {
    font-size: 20px;
  }
}

.lips__text li:first-child {
    font-weight: 700;
    list-style-type: none;
}

.lips__text li {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0px;
  }
}

.lips__text {
  margin-bottom: 30px;
}

