.lips {
  position: relative;
  margin-bottom: 10px;
  background-color: #e8dff0;
}

.lips-wrapper {
  background-color: #e8dff0;
  padding: 50px 40px;
}

.lips-title {
  margin-bottom: 50px;
}

.lips-wrap {
    display: block;
}

.lips__text p,
li {
  font-size: 33px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.2;
  color: #000000;

  @media (min-width: 1250px) {
    font-size: 18px;
  }
}

.lips__text span {
  font-size: 33px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.2;
  font-weight: 700;
  color: #000000;

  @media (min-width: 1250px) {
    font-size: 20px;
  }
}

.lips__text li:first-child {
    font-weight: 700;
    list-style-type: none;
}

.lips__text li {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0px;
  }
}

.lips__text {
  margin-bottom: 30px;
}

