extends ../layouts/page-layout.pug
include ./../mixins/*.pug

block variables
	- var title = 'Главная страница';
	- var pageClass= "ui";

block content
	include ../sections/header.pug

	main
		include ../sections/about-me.pug
		include ../sections/labor.pug
		include ../sections/brow.pug
		include ../sections/milesnick.pug
		include ../sections/lips.pug
		include ../sections/stocks.pug
		include ../sections/contact.pug

	include ../sections/footer.pug
	